.button1{
    background-color:black;
    color: white;
}
.button2{
    background-color: blue;
    color: black;
}
.button3{
    background-color: green;
    color: white;
}
#para{
    color: blue;
}
.box1{
    padding: 10px;
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    text-align: center;
    border: 1px solid black;
    line-height: normal;
    font-size: small;
}
.box2{
    padding: 10px;
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    text-align: center;
    border: 1px solid black;
    line-height: normal;
    font-size: large;
    margin-left: 221.6px;
}
.box3{
    padding: 10px;
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    text-align: center;
    border: 1px solid black;
    line-height: normal;
    font-size: large;
    margin-left: 443.2px;
}
