body{
    background:linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    line-height: 10px;
    align-items: center;
    align-content: center;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
form{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: brown;
    border: 1px solid black;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}
input{
 border-radius: 5px;
 height: 35px;
}
#pass{
    margin-left: 27px;
}
.div{
    margin-top: 13%;
    padding: auto;
}